body {
    margin:0;
    font-family:"Segoe UI", sans-serif;
    overflow:hidden;

    background: repeating-linear-gradient(
        0deg,
        #e8f5e9,
        #e8f5e9 25px,
        #dcedc8 25px,
        #dcedc8 50px
    );
}

.app {
    display:flex;
    height:100vh;
}

/* LEFT */
.main {
    flex:1;
    display:flex;
    flex-direction:column;
}

.top-bar {
    display:flex;
    justify-content:space-between;
    padding:10px 15px;
}

.title {
    font-size:36px;
    font-weight:800;
    color:#2e7d32;
    display:flex;
    flex-direction:column;
}

.title span {
    font-size:14px;
    border-top:2px solid #2e7d32;
}

/* BOARD */
.board {
    position:relative;
    flex:1;
}

.note {
    position:absolute;
    width:150px;
    height:150px;
    padding:12px;
    border-radius:14px;
    cursor:grab;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.pin {
    width:16px;
    height:16px;
    border-radius:50%;
    position:absolute;
    top:-8px;
    left:50%;
    transform:translateX(-50%);
}

/* FILM */
.film-strip {
    width:220px;
    background:#0a0a0a;
    color:white;
    display:flex;
    flex-direction:column;
    padding:12px;
    position:relative;
}

.film-list {
    flex:1;
    overflow-y:auto;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.film-item {
    border-radius:8px;
    overflow:hidden;
    cursor:pointer;
}

.film-item img,
.film-item video {
    width:100%;
}

/* POPUP */
.popup {
    position:fixed;
    inset:0;
    display:none;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,0.5);
}

.popup-box {
    background:black;
    padding:10px;
    border-radius:12px;
    width:320px;
}

/* FORM */
.overlay {
    position:fixed;
    inset:0;
    display:none;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,0.4);
}

.input-box {
    background:white;
    padding:20px;
    border-radius:12px;
    width:300px;
}

#bgCanvas {
    position:fixed;
    inset:0;
    z-index:-1;
}
